# compiled output
/node_modules
/dist
/deployment
/backend/node_modules
/backend/dist
/backend/deployment
/frontend/node_modules
/frontend/dist
/frontend/deployment
/approuter/node_modules

# Secrets
cf-secrets.yml
default-*.json
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
credentials.json
.pipeline
.cds_gen.log
*.db
connection.properties
gen/
target/
.history/
/test/simulation
.vscode/launch.json
.vscode/settings.json